/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.bg {
  position: relative;
  color: white;
}
.bg .bgdesktop {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .bg .bgdesktop {
    display: none;
  }
}
.bg .bgphone {
  width: 100%;
  height: auto;
  display: none;
}
@media only screen and (max-width: 600px) {
  .bg .bgphone {
    display: block;
  }
}
.bg .centering {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -250%);
}
@media only screen and (max-width: 768px) {
  .bg .centering {
    transform: translate(0, -110%);
  }
}
@media only screen and (max-width: 600px) {
  .bg .centering {
    transform: unset;
    margin: 0 15px;
    top: -750px;
  }
}
@media only screen and (max-width: 320px) {
  .bg .centering {
    top: -620px;
  }
}
.bg .centering p, .bg .centering h1, .bg .centering h4 {
  color: white;
}
@media only screen and (max-width: 600px) {
  .bg .centering h1 {
    font-size: 1.5rem;
  }
  .bg .centering h4 {
    font-size: 1rem;
  }
  .bg .centering p {
    font-size: 0.7rem;
  }
}

/*# sourceMappingURL=ImageBody.css.map */
