@import "../Assets/Scss/mixin";

.bg{
  position: relative;
  color: white;
  .bgdesktop{
    width: 100%;
    height: auto;
    @include extra-small-device{
      display: none;
    }
  }
  .bgphone{
    width: 100%;
    height: auto;
    display: none;
    @include extra-small-device{
      display: block;
    }
  }
  .centering{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -250%);
    @include max-small-device{
      transform: translate(0, -110%);
    }
    @include extra-small-device{
      transform: unset;
      margin: 0 15px;
      top: -750px;
    }
    @include extra-extra-small-device{
      top: -620px;
    }
    p,h1,h4{
      color: white;

    }

    @include extra-small-device{
      h1{
        font-size: 1.5rem;
      }
      h4{
        font-size: 1.0rem;
      }
      p{
        font-size: .7rem;
      }
    }
  }
}

