@import "../Assets/Scss/mixin";

.navbar-header {
  height: 90px;
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0;
  z-index: 1032;
  img {
    width: 100%;
    max-width: 250px;
    height: auto;
  }
}

@include max-small-device {
  .menu-mobile {
    background-color: white;
    z-index: 9999;
  }

  .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px !important;
  }


}

.number {
  position: absolute;
  top: -7px;
  padding: 2px;
  font-weight: 900;
  font-size: 22px;
  color: red;
  display: none;
}

.dropdown-toggle::after {
  vertical-align: 7px !important;
  border-top: .3em solid #206167 !important;
}

.btn {
  padding: 4px 7px !important;
}