/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.navbar-header {
  height: 90px;
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0;
  z-index: 1032;
}
.navbar-header img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .menu-mobile {
    background-color: white;
    z-index: 9999;
  }

  .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px !important;
  }
}
.number {
  position: absolute;
  top: -7px;
  padding: 2px;
  font-weight: 900;
  font-size: 22px;
  color: red;
  display: none;
}

.dropdown-toggle::after {
  vertical-align: 7px !important;
  border-top: 0.3em solid #206167 !important;
}

.btn {
  padding: 4px 7px !important;
}

/*# sourceMappingURL=Header.css.map */
