@import "../Assets/Scss/mixin";

.HeaderTop{
  background-color: #206167;
  width: 100%;
  height: 60px;
  font-family: 'Hepta Slab', serif;
  @include extra-small-device{
    display: none;
  }
 .logo-left{
   float: left;
   display: flex;
   margin: auto 0;
   line-height: 3.5;
   .logo{
     display: table;
     margin: 0 5px;
     box-icon{
       display: table-cell;
       vertical-align: middle;
     }
     p{
       font-size: 12px;
       text-transform: uppercase;
       margin-left: 5px;
       margin-right: 15px;
       color: white;
       vertical-align: middle;
       display: table-cell;
     };
   }
 }

  .logo-right{
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 4.5;
  }
}

.scroll {
  opacity: 0.8;
  background-color: #323232;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 150px;
  border-radius: 5px;
  border: none;
  z-index: 99999;

  &:hover {
    opacity: 1;
  }
}

.arrow-up {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -5px;
}