/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.HeaderTop {
  background-color: #206167;
  width: 100%;
  height: 60px;
  font-family: "Hepta Slab", serif;
}
@media only screen and (max-width: 600px) {
  .HeaderTop {
    display: none;
  }
}
.HeaderTop .logo-left {
  float: left;
  display: flex;
  margin: auto 0;
  line-height: 3.5;
}
.HeaderTop .logo-left .logo {
  display: table;
  margin: 0 5px;
}
.HeaderTop .logo-left .logo box-icon {
  display: table-cell;
  vertical-align: middle;
}
.HeaderTop .logo-left .logo p {
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 15px;
  color: white;
  vertical-align: middle;
  display: table-cell;
}
.HeaderTop .logo-right {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 4.5;
}

.scroll {
  opacity: 0.8;
  background-color: #323232;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 150px;
  border-radius: 5px;
  border: none;
  z-index: 99999;
}
.scroll:hover {
  opacity: 1;
}

.arrow-up {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -5px;
}

/*# sourceMappingURL=HeaderTop.css.map */
