/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.footer {
  background-color: #f2f1ef;
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}
@media only screen and (max-width: 768px) {
  .footer ul {
    text-align: center;
  }
}
.footer ul li a {
  color: #3e6767;
  font-size: 13px;
  text-decoration: none;
}
.footer ul li a:hover {
  color: white;
  text-shadow: 2px -2px 2px #3E6767;
}
@media only screen and (max-width: 768px) {
  .footer .hello {
    text-align: center;
  }
}

.input-group {
  width: 50% !important;
}
@media only screen and (max-width: 600px) {
  .input-group {
    width: 100% !important;
  }
}

.form-control {
  border: 1px solid transparent !important;
  border-bottom: 1px solid black !important;
  background-color: transparent !important;
}

.btn {
  border-radius: 1.5rem !important;
}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text {
  border-top-left-radius: 1.5rem !important;
  border-bottom-left-radius: 1.5rem !important;
}

.logos img {
  width: 15%;
}

.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
  background-color: #7d7d7d !important;
}

.carousel-indicators {
  bottom: -50px !important;
}

/*# sourceMappingURL=Footer.css.map */
