@import "../Assets/Scss/mixin";

.footer{
  background-color: #f2f1ef;
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;

  ul{
    @include max-small-device{
      text-align: center;
    }
    li{
      a{
        color: #3e6767;
        font-size: 13px;
        text-decoration: none;

        &:hover{
          color: white;
          text-shadow: 2px -2px 2px #3E6767;
        }

      }
    }
  }

  .hello{
    @include max-small-device{
      text-align: center;
    }
  }
}

.input-group {
  width: 50% !important;
  @include extra-small-device{
    width: 100% !important;
  }
}

.form-control {
  border: 1px solid transparent !important;
  border-bottom: 1px solid black !important;
  background-color: transparent !important;
}

.btn {
  border-radius: 1.5rem !important;
}

.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text {
  border-top-left-radius: 1.5rem !important;
  border-bottom-left-radius: 1.5rem !important;
}

.logos{
  img{
    width: 15%;
  }
}

.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
  background-color: #7d7d7d !important;
}

.carousel-indicators {
  bottom: -50px !important;
}

