$xsm-device:320px;
$sm-device: 600px;
$md-device: 768px;
$lg-device: 992px;
$xlg-device: 1200px;


/* Extra small devices (phones, 600px and down) */
@mixin extra-extra-small-device {
  @media only screen and (max-width: #{$xsm-device}) {
    @content;
  }
}


@mixin extra-small-device {
  @media only screen and (max-width: #{$sm-device}) {
    @content;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@mixin small-device {
  @media only screen and (min-width: #{$sm-device}) {
    @content;
  }
}

@mixin max-small-device {
  @media only screen and (max-width: #{$md-device}) {
    @content;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@mixin mediums-device {
  @media only screen and (min-width: #{$md-device}) {
    @content;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@mixin large-device {
  @media only screen and (min-width: #{$lg-device}) {
    @content;
  }
}
@mixin max-large-device {
  @media only screen and (max-width: #{$lg-device}) {
    @content;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@mixin extra-large-device {
  @media only screen and (min-width: #{$xlg-device}) {
    @content;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@mixin max-extra-large-device {
  @media only screen and (max-width: #{$xlg-device}) {
    @content;
  }
}